@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: DIN Pro;
		font-weight: bold;
		src: url(/fonts/DINProBold.woff) format("woff"),
		url(/fonts/DINProBold.woff2) format("woff2");
	}
	@font-face {
		font-family: DIN Pro;
		font-weight: 500;
		src: url(/fonts/DINProMedium.woff) format("woff"),
		url(/fonts/DINProMedium.woff2) format("woff2");
	}
	@font-face {
		font-family: DIN Pro;
		font-weight: normal;
		src: url(/fonts/DINPro.woff) format("woff"),
		url(/fonts/DINPro.woff2) format("woff2");
	}

	body {
		@apply text-stifinner-darkest;
	}

	h1 {
		@apply font-bold;
	}

	h2 {
		@apply font-medium;
		@apply uppercase;
	}

	p {
		@apply font-serif;
		@apply font-normal;
		@apply text-base;
	}
}
